.microphone{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	color: #00C851;
}
.haut-parleur{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
#button_translate{
		border-radius: 50%;
		position: relative;
		margin-left: 40%;
}
#button_translate:focus{
		outline: none;
}
#button_texttospeech:focus{
    outline: none;
}
#texttospeech {
		}
button{
	position: center;
	margin-left: 100px;
}


#button_texttospeech{

 position: relative;
  width: 80px;
  height: 80px;
  border: 1px;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  border-image : none;
  background-color: #fff;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left:40%;
  /*-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);*/

}
@font-face {
    font-family: myFirstFont;
    src: url("DragonBall.ttf");
}
p{
	font-family: myFirstFont;
	color: white;
}
.card card-cascade{
	width: 100%;
	height: 20%;
}
.form-control{
	width: 90%;
}
textarea{
	border-color: #4285F4;
	margin-left: 5%;
	margin-right: 5%;
}
label{
	margin-left: 1em;
	margin-top: 1em;
	float: left;
	color: #4285F4;
	font-family: myFirstFont;
}
button:active {
  background-color: #4285F4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.microphone_button {

  position: relative;
  width: 80px;
  height: 80px;
  border: 1px;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  border-image : none;
  background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  /*-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);*/
}

.anim{
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

}

.anim_red{
  -webkit-animation: pulse_red 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse_red 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse_red 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse_red 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(66, 133, 244, 1);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(66, 133, 244, 1);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(66, 133, 244, 1);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(66, 133, 244, 1);}}


@keyframes pulse_red {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0.7);}}
@-webkit-keyframes pulse_red {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0.7);}}
@-moz-keyframes pulse_red {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0.7);}}
@-ms-keyframes pulse_red {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0.7);}}

.microphone_button {
	background-color: white;
	border-color: #4285F4;
	border-radius: 2px;
}

.fontH1{
    position: center;
	color: white;
	font-family: myFirstFont;
}
.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
	
	margin-left: 20%;
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
	background-color: #fff;
    position: center;
    border-color:#4285F4;
    color: #0a1c27;    
}


@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
    	float: right;
    	margin-right: 1em;
        border: 2px;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 80px;
        border-color: blue;

    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select              { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}